html
	font-size: 62.5%


body
input
textarea
button
	font: 400 2.4rem/1.5 "sans-serif"
	letter-spacing: .02em
	outline: 0
	text-rendering: optimizeLegibility
	font-smoothing: antialiased
	-webkit-font-smoothing: antialiased


html
body
#root
	height: 100%
	overflow: auto