# Thumbs Files
.DS_Store
Thumbs.db

# VSCode
.vs
.vscode

# Dependencies NPM / Yarn
/node_modules

# Javascript Compiled ~ À adapter selon l'utilisation de cette base
/public
/build
/dist

# Logs
/*.log

# Cache
/.cache
